@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Rajdhani:wght@500&display=swap');

#timer::-webkit-inner-spin-button, 
#timer::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#timer {
	width: 100px;
	text-align: center;
	color: rgba(49, 204, 176, 1);
	border: transparent;
	background-color: transparent;
	font-family: 'Rajdhani', sans-serif;
	font-size: 50px;
}

#timer:focus {
	outline: none;
}

#timer::selection {
	background-color: rgba(49, 204, 176, .3);
}