:root{
	--bar-width: 0vw;
	--movbar-glow: none;
}

#loadBar {
	width: 100vw;
	height: 5px;
	background-color: rgba(255,255,255,.1);
	margin-bottom: 30px;
}

#movBar {
	background-color: rgba(49, 204, 176, 1);
	width: var(--bar-width);
	height: 5px;
	box-shadow: 0 0 5px rgba(49, 204, 176, .5), inset 0px 0px 3px white;
}

.trail-glow {
	display: var(--movbar-glow);
	left: var(--bar-width);
	position: absolute;
}

.tg-1 {
	width: 1px;
	height: 5px;
	background-color: rgba(255, 255, 255, .7);
	/*filter: blur(.5px);*/
}

.tg-2 {
	width: 3px;
	height: 5px;
	background-color: rgba(255, 255, 255,.5);
	filter: blur(1px);
}
